<div class="category">
	<!--div class="topics__label">分类</div-->
	<nav class="topics__links">
		<%if(is_home()){%>
			<a href="/" class="bg-colorf4">全部home</a>
		<%}else{ %>
			<a href="/">全部nothome</a>
		<%} %>
		<%if(site.categories.length){%>
			<% site.categories.each(function(tag){ %>
				<%if(page.path.match(tag.path)){%>
					<a href="/<%= tag.path %>" class="bg-colorf4">
						<%=tag.name%>|
						<%=page.path%>|
						<%= tag.path %>
					</a>
				<%}else{ %>
					<a href="/<%= tag.path %>">
						<%=tag.name%>|
						<%=page.path%>|
						<%= tag.path %>
					</a>	
				<%} %>
			<% }) %>
		<%}%>
	</nav>
</div>