<!DOCTYPE html>
<html>
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/navbar') %>
    <%- partial('common/banner') %>
    <%- body %>
    <%- partial('common/download') %>
    <%- partial('common/footer') %>
</body>
</html>